body {
    background-color: #202023;
}

#site-title {
    font-family: 'Roboto Mono', monospace;
    color: WHITE;
    font-style: italic;
    font-size: 20px;
    padding-left:15px;
    padding-right:45px;
}

/* For nav bar */
.current-tab {
    background-color: #333333;
    border-bottom: 4px solid #DD3333;
}

.logout-tab {
    float: right;
    background-color: #433333;
    border-bottom: 4px solid #DD3333;
}

#nav {
    position:fixed;
    top:0px;
    z-index:100;
    background-color: gray;
    float: left;
    width: 95%;
    margin-left: 1.5%;
    border: 3px solid black;
    border-top: none;
}

ul {
    /* remove bullets */
    list-style-type: none; 
    /* remove browser default settings */
    padding: 0;
    margin: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  padding: 14px 24px;
  text-decoration: none;
}

li a:hover {
    background-color: #302025;
}
/* End nav bar */






/* GENERAL STYLE */
.text-large, .text-large-white {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 42px;
}

.text-large-white {
    color: WHITE;
}

.text-medium-large, .text-medium-large-white {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-medium-large-white {
    color: WHITE;
}

.text-medium, .text-medium-white {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 16px;
}

.text-medium-white {
    color: WHITE;
}

.text-small-white {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 13px;
    color: white;
}

.text-input {
    /* custom border style for text inputs */
    border-bottom: 2px solid BLACK;
    border-top: none;
    border-left: none;
    border-right: none;
}

.page-content {
    margin-left: 10%;
    margin-top: 85px;
}

.error-message {
    color:RED;
}

.submit-button, .submit-button:hover {
    background-color:#E0FAD0;
    border: 3px solid #777777;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 80%;
    left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.submit-button:hover {
    background-color:#D0FCC0;
    border: 3px solid #444444;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
/* END GENERAL STYLE */





/* SEARCH RESULTS */
.result-button, .result-button:hover {
    width: 85%;
    background-color: white;
    border: 3px solid white;
}

.result-button:hover {
    background-color: white;
    border: 3px solid #AAAAAA;
}

.result-image {
    width: 450px;
    height: 400px;
    float: left;
    position: relative;
    border: solid 2px black;
}

.result-text {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: black;
}

.small {
    font-size: 20px;
}

.large {
    font-size: 36px;
}

.result-right-pane {
    padding-left:10px;
    padding-right: 20px;
    float: right;
    position: relative;
}







.gallery-photo {
    width: 500px;
    height: 400px;
    float: left;
    position: relative;
    border: solid 2px black;
}







/* SINGLE LISTING (Saved and not saved) */
.listing-panel {
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.inner-listing-pane {
    position: relative;
    float: left;
}

#description-pane {
    width: 50%;
}

#details-pane {
    width: 50%;
}

.listing-image {
    width: 400px;
    height: 330px;
    border: solid 2px black;
}

.image-button, .image-button:hover {
    background-color:#AAAAAA;
    border: 3px solid #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.image-button:hover {
    background-color:#EEEEEE;
    border: 3px solid #FFFFFF;
}

.hide {
    display: none;
}







#home-name {
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid gray;
    width: 95%;
}





#welcome-message {
    color: WHITE;
    position: relative;
    text-align: center;
    margin: 5px;
}

#welcome-subtext1 {
    color: WHITE;
    position: relative;
    text-align: center;
    margin: 5px;
}

.white-center-panel {
    background-color: WHITE;
    position: relative;
    padding: 25px;
}

#username {
    margin-bottom: 10px;
}

#welcome-subtext2 {
    color: WHITE;
    position: relative;
    text-align: center;
    margin: 5px;
    margin-top: 20px;
}

#no-account-panel {
    background-color: WHITE;
    position: relative;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#create-account-message {
    color: WHITE;
    position: relative;
    text-align: center;
    margin: 5px;
}

#create-account-subtext1 {
    color: WHITE;
    position: relative;
    text-align: center;
    margin: 5px;
    margin-top: 20px;
}

.cancel-button, .cancel-button:hover {
    background-color:#F3D0C0;
    border: 3px solid #777777;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 80%;
    left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color:#F5C0B0;
    border: 3px solid #444444;
}

#footer {
    background-color: gray;
    border: 3px solid black;
    border-bottom: none;
    text-align: center;
    width: 95%;
    height: 20px;
    left: 2.5%;
    position: fixed;
    bottom: 0px;
}